keystore "file:${user.home}${/}.keystore";

// Grant code signed by examplesigningkey 
// the ability to read the secret word

grant signedBy "examplesigningkey" {
	permission SecretWordPermission "AccessPermission";
};
